In [1]:
import mysql.connector
import os
from dotenv import load_dotenv
import pandas as pd

In [2]:
# Read environment variables
load_dotenv()

host=os.getenv("host")
user=os.getenv("username")
port=os.getenv("port")
password=os.getenv("password")
db=os.getenv('database')

In [3]:
def read_sql_data():
    
    try:
        mydb=mysql.connector.connect(
            host=host,
            port=int(port),
            user=user,
            password=password,
            db=db,
                    )
        
        df=pd.read_sql_query(f'SELECT * FROM {db}.insurancefraud_dataset;',mydb)
        print(df.head())

        return df

    except Exception as e:
        raise e

In [4]:
read_sql_data()

   months_as_customer  age  policy_number policy_bind_date policy_state  \
0                 328   48         521585       10/17/2014           OH
1                 228   42         342868        6/27/2006           IN
2                 134   29         687698         9/6/2000           OH
3                 256   41         227811        5/25/1990           IL
4                 228   44         367455         6/6/2014           IL

  policy_csl  policy_deductable  policy_annual_premium  umbrella_limit  \
0    250/500               1000                1406.91               0
1    250/500               2000                1197.22         5000000
2    100/300               2000                1413.14         5000000
3    250/500               2000                1415.74         6000000
4   500/1000               1000                1583.91         6000000

   insured_zip  ... witnesses police_report_available total_claim_amount  \
0       466132  ...         2                     YES              71610
1       468176  ...         0                       ?               5070
2       430632  ...         3                      NO              34650
3       608117  ...         2                      NO              63400
4       610706  ...         1                      NO               6500

  injury_claim property_claim  vehicle_claim  auto_make auto_model auto_year  \
0         6510          13020          52080       Saab        92x      2004
1          780            780           3510   Mercedes       E400      2007
2         7700           3850          23100      Dodge        RAM      2007
3         6340           6340          50720  Chevrolet      Tahoe      2014
4         1300            650           4550     Accura        RSX      2009

  fraud_reported
0              Y
1              Y
2              N
3              Y
4              N

[5 rows x 39 columns]

C:\Users\Mahesh\AppData\Local\Temp\ipykernel_11872\448468557.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql_query(f'SELECT * FROM {db}.insurancefraud_dataset;',mydb)

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported
0,328,48,521585,10/17/2014,OH,250/500,1000,1406.91,0,466132,...,2,YES,71610,6510,13020,52080,Saab,92x,2004,Y
1,228,42,342868,6/27/2006,IN,250/500,2000,1197.22,5000000,468176,...,0,?,5070,780,780,3510,Mercedes,E400,2007,Y
2,134,29,687698,9/6/2000,OH,100/300,2000,1413.14,5000000,430632,...,3,NO,34650,7700,3850,23100,Dodge,RAM,2007,N
3,256,41,227811,5/25/1990,IL,250/500,2000,1415.74,6000000,608117,...,2,NO,63400,6340,6340,50720,Chevrolet,Tahoe,2014,Y
4,228,44,367455,6/6/2014,IL,500/1000,1000,1583.91,6000000,610706,...,1,NO,6500,1300,650,4550,Accura,RSX,2009,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,3,38,941851,7/16/1991,OH,500/1000,1000,1310.80,0,431289,...,1,?,87200,17440,8720,61040,Honda,Accord,2006,N
996,285,41,186934,1/5/2014,IL,100/300,1000,1436.79,0,608177,...,3,?,108480,18080,18080,72320,Volkswagen,Passat,2015,N
997,130,34,918516,2/17/2003,OH,250/500,500,1383.49,3000000,442797,...,3,YES,67500,7500,7500,52500,Suburu,Impreza,1996,N
998,458,62,533940,11/18/2011,IL,500/1000,2000,1356.92,5000000,441714,...,1,YES,46980,5220,5220,36540,Audi,A5,1998,N
999,456,60,556080,11/11/1996,OH,250/500,1000,766.19,0,612260,...,3,?,5060,460,920,3680,Mercedes,E400,2007,N